/* FORMAT FOR DESKTOP FOR CENTERED PAGES */

.mainBody {
    padding: 30px 20px 30px 20px;
    margin: 10px 0px auto 0px;
    width: 100%;
    min-height: 90%;
}

.mainBody * {
    text-align: center;
}

.infobox {
    margin: 48px auto 16px auto;
}