/* CHIWA CSS - GLOBAL */

/*
    This is a global style sheet used in ChiwaInori.top.
    The rules in each element below should follow this order: Color, Display, Width, Height, Padding, Border, Margin, Others.
*/

/* MAIN FORMAT FOR EVERY DEVICES */
/* Those rules overridden in mobile sector are only used in desktop. */

:root {
    /* CHIWA BASIC COLORS */
    /* These are basic colors of ChiwaInori.top and used in basic structures. -500 colors are major colors in each section. */

    --backgroundColor-500: #f0f8ff; /* aliceblue */
    --backgroundColor-600: #a0d2f0;

    --textColor-400: #88a0aa;
    --textColor-500: #556677;

    --activeColor-400: #99ccff;
    --activeColor-500: #66a8ff;
    --activeColor-700: #0088aa;
    --activeColor-800: #8899aa;

    /* CHIWA STANDARD COLORS */
    /* These are used to make website more colorful. They are verified to have great or normal visibility on ChiwaInori.top. */

    --red: #dd0000;
    --orange: #ff8800;
    --yellow: #ffc800;
    --green: #00dd00;
    --cyan: #44ddcc;
    --blue: #00a8ff;
    --purple: #cc44ee;

    --lightRed: #ff5580;
    --lightOrange: #ffa800;
    --lightYellow: #eedd55;
    --lightGreen: #88ee88;
    --lightCyan: #88dddd;
    --lightBlue: var(--activeColor-400);
    --lightPurple: #cc99dd;

    --darkRed: #aa0000;
    --darkOrange: #cc8822;
    --darkYellow: #bbaa11;
    --darkGreen: #11aa00;
    --darkCyan: var(--activeColor-700);
    --darkBlue: #0000dd;
    --darkPurple: #661188;

    --pink: #ff86c3;
    --aqua: var(--activeColor-500);

    --gray: var(--textColor-400);

    /* TIER COLORS (RED -> GREEN) */
    /* These colors are used in tables to show different values. */

    --tier-1: #ff1100;
    --tier-2: #ff4400;
    --tier-3: #ff7700;
    --tier-4: #ffaa00;
    --tier-5: #ffdd00;
    --tier-6: #dddd00;
    --tier-7: #aadd00;
    --tier-8: #77dd00;
    --tier-9: #44cc00;
    --tier-10: var(--darkGreen);

    /* MISC */

    --transit: cubic-bezier(0.22, 0.61, 0.36, 1); /* Out Cubic */
}

/* BASIC LAYOUT */

body {
    background-color: var(--backgroundColor-600);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

.mainBody {
    background-color: var(--backgroundColor-500);
    /* min-height: 90vh; */
    padding: 30px 25px 30px 25px;
    border-radius: 10px;
    margin: 10px auto 10px auto;
    flex: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* NORMAL ELEMENTS */

* {
    font-family: "Lolita", sans-serif;
}

.title h1 {
    margin: auto 0px 0px 0px;
}

h1, h2, h3, h4, h5, h6, p, img, video, audio {
    margin: auto 0px 10px 0px;
}

img:not([class*="NBM"]), video:not([class*="NBM"]) {
    border: 3px solid var(--activeColor-500);
    margin: 2px;
}

img[style*="float: left"] {
    margin-right: 8px;
}

input, button, textarea {
    color: var(--activeColor-500);
    background-color: #ffffff;
    margin: auto 10px auto 10px;
    border: 2px solid var(--activeColor-500);
    transition: color 0.05s var(--transit);
    font-weight: bold;
}

textarea {
    resize: none;
}

input, textarea {
    cursor: text;
}

button {
    cursor: pointer;
}

::placeholder {
    color: var(--activeColor-800);
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:hover, input[type="radio"]:hover, button:hover {
    background-color: #eeeeee;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
    background-color: var(--activeColor-500);
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked::before {
    width: 5px;
    height: 5px;
}

input[type="radio"] {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
}

input[type="radio"]:checked::before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

input[type="range"] {
    background: #ffffff;
    width: auto;
    height: 4px;
    appearance: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    background: var(--activeColor-400);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    appearance: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    background: var(--activeColor-400);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    appearance: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

input[type="color"] {
    width: 28px;
    height: 24px;
}

button:active {
    color: var(--activeColor-700);
    background-color: #dddddd;
}

input:disabled, button:disabled {
    color: var(--textColor-400);
    background-color: #dddddd;
    border: 2px solid var(--textColor-400);
    cursor: not-allowed;
}

select {
    color: var(--activeColor-500);
    background-color: #ffffff;
    border: 2px solid var(--activeColor-500);
    margin: auto 10px auto 10px;
}

ruby rt {
    font-size: 10px;
}

hr {
    margin: 32px auto;
}

/* TEXT COLORS */

p, h1, h2, h3, h4, h5, h6 {
    color: var(--textColor-500);
}

span, a {
    color: inherit;
}

*::selection {
    color: #ffffff;
    background-color: var(--lightBlue);
}

a:not(.HLK), .LNK {
    color: var(--activeColor-500);
    text-decoration: none;
    transition: color 0.1s var(--transit);
    cursor: pointer;
}

a:not(.HLK):hover, .LNK:hover {
    filter: brightness(0.75);
    transition: filter 0.1s var(--transit);
    text-decoration: underline;
    font-weight: bold;
}

[onclick]:not(.LNK):not(.HLK):hover {
    filter: brightness(0.75);
    text-decoration: underline;
    transition: filter 0.1s var(--transit);
}

/* SPECIAL ELEMENTS IN ChiwaInori.top */

blockquote * {
    color: var(--textColor-400);
    font-style: italic;
}

table {
    color: var(--textColor-500);
    margin: 0px 0px 10px 0px;
}

th, td {
    text-align: center;
}

/* SPECIAL CLASSES IN ChiwaInori.top */

/*
.LNK {} (Link) is defined above
.NBM {} (No Border Media) is defined above
.IFB {} (Infobox) is defined below
*/

.STX { /* Small Texts */
    font-size: 10px;
}


.LST { /* List */
    font-size: 10px;
}

.ANT, .ANT * { /* Annotate */
    color: var(--textColor-400);
    font-size: 10px;
}

.CDE { /* Code */
    font-family: "Consolas", "Lolita", sans-serif;
}

.BRT, .BRT tr * { /* Border Table */
    border: 2px solid var(--textColor-500);
    border-collapse: collapse;
}

.SKH { /* Sticky Header */
    background-color: var(--backgroundColor-500);
    position: sticky;
    top: 0px;
}

.HLK, .HLK:is(:link, :hover, :visited) { /* Hidden Link */
    color: var(--textColor-500);
    text-decoration: none;
    cursor: text;
}

.SEIZURE { /* Seizure Warning */
    background-color: var(--backgroundColor-500);
    text-align: center;
    width: 650px;
    padding: 16px 32px 16px 32px;
    border: 2px solid var(--textColor-500);
}

/* Infobox Styles */

[class*="IFB"] { /* Infobox */
    text-align: center;
    padding: 10px 16px 6px 16px;
    border-radius: 10px;
    margin: 16px 0px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.IFB-Red { /* Archived */
    background-color: #ff9999;
    border: 2px solid var(--red);
}
.IFB-Yellow { /* Out of Date */
    background-color: #ffff99;
    border: 2px solid var(--yellow);
}
.IFB-Green { /* Update */
    background-color: #99ff99;
    border: 2px solid var(--green);
}
.IFB-Blue { /* Debug */
    background-color: #99ffff;
    border: 2px solid var(--blue);
}

.IFB-Red * {
    color: var(--red);
}
.IFB-Yellow * {
    color: var(--yellow);
}
.IFB-Green * {
    color: var(--darkGreen);
}
.IFB-Blue * {
    color: var(--blue);
}

[class*="IFB"] * {
    margin-bottom: 5px;
}

[class*="IFB"] *:nth-child(2) {
    margin-top: 10px;
}

/* MOBILE COMMON */

@media not (hover: hover) {
    .mainBody {
        width: 90%;
        min-height: 90vh;
        border-radius: 20px;
        margin: 20px auto 20px auto;
    }

    h1 {
        font-size: 64px;
    }
    
    h2 {
        font-size: 48px;
    }
    
    h3 {
        font-size: 38px;
    }
    
    h4, p, span, a {
        font-size: 32px;
    }
    
    h5 {
        font-size: 26px;
    }
    
    h6 {
        font-size: 24px;
    }
    
    .ANT, .ANT *, .STX, .LST * {
        font-size: 20px;
    }
    
    input {
        width: 192px;
        height: 20px;
        border: 4px solid var(--activeColor-500);
        font-size: 24px;
    }

    button {
        height: 40px;
        border: 4px solid var(--activeColor-500);
        font-size: 24px;
    }
    
    input[type="checkbox"] {
        width: 24px;
        height: 24px;
    }
    
    input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
        top: 34%;
        left: 34%;
        transform: scale(200%, 200%);
    }
    
    input[type="radio"] {
        width: 24px;
        height: 24px;
    }
    
    input[type="radio"]:checked::before {
        width: 5px;
        height: 5px;
    }
    
    input[type="range"] {
        height: 12px;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
    }
    
    input[type="range"]::-moz-range-thumb {
        width: 16px;
        height: 16px;
    }
    
    input[type="color"] {
        width: 36px;
        height: 36px;
    }
    
    input:disabled, button:disabled {
        border: 4px solid var(--textColor-400);
    }
    
    select {
        height: 24px;
        border: 4px solid var(--activeColor-500);
    }
    
    ruby rt {
        margin-bottom: -12px;
        font-size: 18px;
    }

    caption, th, td {
        font-size: 32px;
    }
    
    [class*="IFB"] {
        width: 91%;
        border-width: 6px;
        border-radius: 20px;
    }
}