/* FORMAT FOR MOBILE */

.mainBody {
    width: 95%;
    min-height: 82%;
}

/* MOBILE COMMON */

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 38px;
}

h4, p {
    font-size: 32px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 24px;
}

.ANT, .STX, .LST * {
    font-size: 20px;
}

input, button {
    font-size: 24px;
    height: 36px;
    border: 4px solid var(--activeColor-500);
}

input[type="checkbox"] {
    width: 36px;
    height: 36px;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
    top: 40%;
    left: 40%;
    transform: scale(400%, 400%);
}

input[type="radio"] {
    width: 36px;
    height: 36px;
}

input[type="radio"]:checked::before {
    width: 5px;
    height: 5px;
}

input[type="range"] {
    height: 12px;
}

input[type="range"]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
}

input[type="color"] {
    width: 36px;
    height: 36px;
}

input:disabled, button:disabled {
    border: 4px solid var(--textColor-400);
}

select {
    border: 4px solid var(--activeColor-500);
}

.IFB {
    width: 700px;
}