/* FORMAT FOR MOBILE FOR CENTERED PAGES */

.mainBody {
    padding: 30px 20px 30px 20px;
    margin: 10px 0px auto 0px;
    width: 95%;
    min-height: 82%;
}

.mainBody * {
    text-align: center;
}

.IFB {
    margin: 48px auto 16px auto;
}