/* CHIWA CSS - CENTER */

/*
    This is a style sheet used in ChiwaInori.top for centered pages.
*/

/* CENTERED FORMAT FOR DESKTOP */

@media only screen and (hover: hover) {
    #cw-main {
        width: 90%;
    }

    [class*="IFB"] {
        width: 91%;
    }
}

/* CENTERED FORMAT FOR MOBILE */

/* @media not (hover: hover) {
    ...
} */

/* COMMON CENTERED FORMAT */

#cw-main :not(input) {
    text-align: center;
}

table {
    margin: 0px auto;
}