/* CENTERED FORMAT FOR DESKTOP */

@media only screen and (hover: hover) {
    .mainBody {
        padding: 30px 20px 30px 20px;
        margin: 10px 0px auto 0px;
        width: 100%;
        min-height: 90%;
    }
    
    .mainBody * {
        text-align: center;
    }
    
    table {
        margin-left: auto;
        margin-right: auto;
    }
    
    .IFB {
        margin: 48px auto 16px auto;
    }
}

/* CENTERED FORMAT FOR MOBILE */

@media not (hover: hover) {
    .mainBody {
        padding: 30px 20px 30px 20px;
        margin: 10px 0px auto 0px;
        width: 95%;
        min-height: 82%;
    }
    
    .mainBody * {
        text-align: center;
    }
    
    table {
        margin-left: auto;
        margin-right: auto;
    }
    
    .IFB {
        margin: 48px auto 16px auto;
    }
}