/* CENTERED FORMAT FOR DESKTOP */

@media only screen and (hover: hover) {
    .mainBody {
        padding: 30px 20px 30px 20px;
        margin: 10px 0px auto 0px;
        width: 100%;
        min-height: 90%;
    }
}

/* CENTERED FORMAT FOR MOBILE */

@media not (hover: hover) {
    .mainBody {
        padding: 30px 20px 30px 20px;
        margin: 10px 0px auto 0px;
        width: 95%;
        min-height: 82%;
    }
}

/* COMMON CENTERED FORMAT */

.mainBody * {
    text-align: center;
}

table {
    margin: 0px auto;
}

[class*="IFB"] {
    margin: 48px auto 16px auto;
}