package.json
package-lock.json
node_modules/

private/
old/_abandoned/
old/_arc/

mc/milkmappers/maps/qyflower/guide/
mc/milkmappers/maps/qyflower/specialeggs/

schoolcosts/
other/codon/
game-doc/ptc/